@keyframes drawMobileLine1 {
    to {
      height: 350px;
    }
}

.mobileLine1 {
    position: absolute;
    top: 350px;
    right: 50px;
    width: 5px;
    height: 0px;
    background: white;
    animation: drawMobileLine1 2s ease 1s forwards;
}